<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to home </h1>
    <form action="/host/add-home" method="POST">
      <input type="text" name="homeName" placeholder="Enter home name" required><br><br>
      <input type="text" name="homeLocation" placeholder="Enter home location" required><br><br>
      <input type="submit" value="Add Home">
    </form>
    
</body>
</html>